<form action="/ideas" method="post">
    <label for="project">Project:</label>
    <input type="text" name="project" placeholder="your million dollar idea">
  <input type="submit" value="submit">
</form>

<a href="/ideas">Back to all your projects</a>
<p>Time to say goodbye: <a href="/logout">log out</a></p>
