<h2>Project Idea</h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br>

<li><%= @idea.project %></li><br>

<form method="get" action="/ideas/<%=@idea.id%>/edit">
    <input type="submit" value="Edit Idea">
</form>

<form method="get" action="/ideas/<%=@idea.id%>/delete">
    <input type="submit" value="Delete Idea">
</form>

<a href="/ideas">Back to all your projects</a>
